html {
  min-height: 100%;
}

body {
  background-color: #ededed;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100%;
}

.App-header {
  background-color: #f9f9f9;
  height: 60px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  height: 100%;
}

.container {
  height: 100%;
}

#test-layout {
  height: 100%;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto !important;
  height: 100%;
}

.header-logo {
  text-align: left;
  height: 100%;
  width: 150px;
  float: left;
  display: inline-grid;
  background-color: lightsteelblue;
}

.header-content {
  height: 100%;
  width: 100%;
  display: inline-grid;
  padding-bottom: 4px;
  background-image: linear-gradient(to right, dodgerblue 0%, cyan 100%);
}

.header-content > div {
  background: #222222;
}

#footer {
  position: relative;
  height: 58px;
  width: 100%;
  border-top: 1px solid lightgrey;
  background-color: #f9f9f9;
}

/************* DASHBOARD *************/

.dashboard {
  height: 100%;
}

.dashboard h2 {
  text-transform: capitalize;
}

@media screen and (min-width: 580px) {
  .dashboard-left {
    float: left;
    width: 20em;
    margin-left: -100%;
  }

  .dashboard-main {
    float: left;
    width: 100%;
  }

  .dashboard-main > div {
    margin-left: 20em;
  }
}

@media screen and (max-width: 580px) {
  .dashboard-left {
    margin: 1em;
  }

  .dashboard-main {
    margin: 1em;
  }
}

/************ DASHBOARD FEEDS *************/

.user-summary {
  margin: 1em;
}

.squad-feed {
  margin: 1em;
}

.event-feed {
  margin: 1em;
}

.feed-content {
  margin: 1em;
}

.feed-header {
  height: 4em;
  margin-bottom: 1em;
}

.feed-header button {
  float: right;
}

.squad-segment {
  width: 18em;
  height: 20em;
  margin-right: 1em;
}

@media screen and (max-width: 580px) {
  .squad-segment {
    min-width: 18em;
    width: 100%;
    height: 20em;
    margin-right: 1em;
  }
}

.create-squad-segment {
  border: 2px dashed lightgrey;
  border-radius: 2px;
}

.create-squad-segment > div {
  position: relative;
  margin: auto;
  width: 11em;
  top: 50%;
  transform: translate(0%, -50%);
}

#create-new-squad-button {
  background-color: #f9f9f9;
  border: 1px solid #008cba;
}

#create-new-squad-button:hover {
  background-color: white;
  border: 1px solid #008cba;
}

#create-new-squad-button:active {
  background-color: lightgrey;
  border: 1px solid #008cba;
}

.event-card {
  margin: 1em 0;
}

@media screen and (max-width: 580px) {
  .new-event-form {
    width: 98%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 580px) {
  .new-event-form {
    width: 580px;
    margin: 1em auto;
  }
}

/************ EVENT FORM *************/
.create-event-form-container {
  max-width: 40em;
  margin: 1em auto !important;
}

.form-error-text {
  color: darkred;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

/************ EVENT DETAIL *************/

.event-detail-container {
  margin: 1em;
}

.event-detail-content {
  margin-left: -1em;
  margin-right: -1em;
  padding: 1em;
}

.event-invitation {
  max-width: 40em;
  margin: 1em auto;
}

/************ GENERAL STYLING *************/
.light-blue {
  background-color: #45a1e7;
}
